In [1]:
import pandas as pd
df = pd.read_csv("insurance.csv")

In [2]:
df.head()

   age  bought_insurance
0   22                 0
1   29                 0
2   30                 0
3   25                 0
4   27                 0

In [4]:
x = pd.DataFrame(df.age)
y = pd.DataFrame(df.bought_insurance)

train test and split process

In [5]:
from sklearn.model_selection import train_test_split

In [10]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.1,random_state=1)
#10 percent for testing

lets use a ml model