Project 2
what if you are given more than one independant and dependant variable

Multilinear regression

In [2]:
import pandas as pd
data = pd.read_csv("multi.csv")

y = m1 x1 + m2 x2 + .... + c

In [3]:
data

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  565000
4  4000         5    8  760000

In [6]:
x = data[["area","bedrooms","age"]]

In [8]:
y = data["price"]